body {
    margin: 0px;
    font-family: arial;
    background: #3C2B39;
    color: #C897CB;
}
body hr{
    height: 14px;
    background-color: #3c2a3d;
    box-shadow: inset 1px 1px 12px rgba(0, 0, 0, 0.7);
    border: none;
    margin-top: 5px;
    margin-bottom: 35px;
}

#header {
    background: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}
#main-navigation {
    float: right;
    width: 100%;
    padding-top: 50px;
}

#main-navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#main-navigation ul li {
    display: inline-block;
    margin: 0px 50px;
    padding: 0px 5px;
    font-weight: 700;
    font-size: 20px;
}

#main-navigation ul li a {
    text-decoration: none;
    color: #C897CB;
}

.logo {
    float: left;
    width: auto;
    max-height: 100px;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 55px;
}

.name {
    font-size: 15px;
    line-height: 30px;
    font-family:  sans-serif;
    text-align: center;
    display: inline-block;
    padding-top: 40px;
}

.name {
    color: #C897CB;
    text-decoration: none;
    font-weight: 900;
}

.name .keyword{
	font-size: 35px;
}
.keyword {
	color: #fff;
    font-family: monospace;
    font-weight: bolder;
    
}


#portifolio {
    padding: 50px 0px;
    text-align: center;
    color: #fff;
}

#portifolio h1{
    padding: 50px 0px;
    text-align: left;
    color: #C897CB;
    
}

#portifolio .image {
    position: relative;
    overflow: hidden;
}

p{
	text-align: center;
    font-size: 25px;
    font-weight: 700;
}

h1{
  text-align: center;  
    font-weight: bolder;
    color: #fff;
    font-family: serif;
}
#about h1{
     padding: 50px 0px;
    text-align: left;
    color: #C897CB;
}

.Intro {
	font-size: 12px;
}
.Intro .keyword{
	text-align: justify;
    font-size: 12px;
}

.descIntro {
	font-size: 12px;
}
.descIntro .keyword{
	text-align: justify;
    font-size: 12px;
}


.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color:  #C897CB;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: #f1f1f1;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/*
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline li{
    margin-bottom: 100px;
    min-height: 100px;
    position: relative;
}*/

.timeline-panel .timeline-body .eduDetail .glyphicon-education{
	line-height: 25px;
    color: #a1a1a1;
    text-align: left;
    line-height: normal;
}